INTELLEGENT_CARGO.json
[{"id":"cb1a205a.eacab","type":"tab","label":"Project","disabled":false,"info":""},{"id":"1752d0f6.b4df4f","type":"debug","z":"cb1a205a.eacab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":80,"wires":[]},{"id":"f6090c54.8d1ca","type":"function","z":"cb1a205a.eacab","name":"hum","func":"msg.payload = msg.payload.hum\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["1752d0f6.b4df4f","1cc6bab7.d97ac5","d1741e4e.1e3ee"]]},{"id":"fa1a4a36.89b1b8","type":"function","z":"cb1a205a.eacab","name":"temp","func":"msg.payload = msg.payload.temp\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":180,"wires":[["1752d0f6.b4df4f","880e164d.eaac78","7d95611b.50759"]]},{"id":"4fdea888.4bf2f8","type":"function","z":"cb1a205a.eacab","name":"air","func":"msg.payload = msg.payload.air\nglobal.set('a',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":260,"wires":[["1752d0f6.b4df4f","aeff6a74.c01a68","c2cc32dc.976b6"]]},{"id":"6104b3aa.1f131c","type":"http in","z":"cb1a205a.eacab","name":"","url":"cargo","method":"get","upload":false,"swaggerDoc":"","x":180,"y":740,"wires":[["475975eb.7a9ebc"]]},{"id":"cfb3afc3.03938","type":"http response","z":"cb1a205a.eacab","name":"","statusCode":"","headers":{},"x":590,"y":740,"wires":[]},{"id":"880e164d.eaac78","type":"ui_gauge","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":9,"width":6,"height":4,"gtype":"gage","title":"temp","label":"units","format":"{{value}}","min":"-20","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":180,"wires":[]},{"id":"1cc6bab7.d97ac5","type":"ui_gauge","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":16,"width":6,"height":4,"gtype":"gage","title":"hum","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":220,"wires":[]},{"id":"aeff6a74.c01a68","type":"ui_gauge","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":23,"width":6,"height":4,"gtype":"gage","title":"air","label":"units","format":"{{value}}","min":"0","max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":260,"wires":[]},{"id":"475975eb.7a9ebc","type":"function","z":"cb1a205a.eacab","name":"webpage","func":"msg.payload = {\"temp\": global.get('t'), \"hum\": global.get('h'),\"air\":global.get('a')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":740,"wires":[["cfb3afc3.03938","de7439c.a4524c8"]]},{"id":"e94be201.f1c6d","type":"function","z":"cb1a205a.eacab","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('la', lat)\nglobal.set('lo', lon)\nglobal.set('name', name) \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":60,"wires":[["464e7fd1.732f9","1b1de369.15346d"]]},{"id":"464e7fd1.732f9","type":"debug","z":"cb1a205a.eacab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1610,"y":60,"wires":[]},{"id":"1b1de369.15346d","type":"function","z":"cb1a205a.eacab","name":"","func":"var l = global.get('lo')\nvar lo = global.get('lo')\nvar n = global.get('name')\nmsg.payload = {\n    \"lat\": l,\n    \"lon\": lo,\n    \"name\":n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":160,"wires":[["608b4fc.ffe99b","7ae4c135.61a4d"]]},{"id":"83aa1dbe.6fb53","type":"function","z":"cb1a205a.eacab","name":"","func":"msg.payload=msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":300,"wires":[["8a2b1c25.af31f"]]},{"id":"8a2b1c25.af31f","type":"rbe","z":"cb1a205a.eacab","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":1110,"y":380,"wires":[["e59896c3.d143c8"]]},{"id":"e59896c3.d143c8","type":"switch","z":"cb1a205a.eacab","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":440,"wires":[["4e45b74.31f2d48","fa697036.3131"],["14bcd3d5.4e52fc"]]},{"id":"4e45b74.31f2d48","type":"function","z":"cb1a205a.eacab","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":480,"wires":[["b22bd26f.2e96c","4f7a522f.8d1aec","80d1a3cf.4f53d"]]},{"id":"fa697036.3131","type":"function","z":"cb1a205a.eacab","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\n\n\nmsg.payload = {\n    \"message\":\"Exit\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":520,"wires":[["4ca8e745.adbea8","ca21a394.1c0c6"]]},{"id":"14bcd3d5.4e52fc","type":"function","z":"cb1a205a.eacab","name":"","func":"var d = new Date();\n\nvar utc = d.getTime() + (d.getTimezoneOffset() * 60000);\n\nvar offset = 5.5;\nnewDate = new Date(utc + (3600000*offset));\n\n\nmsg.payload = {\n    \"message\":\"Entry\",\n    \"Time\":newDate.toLocaleString(),\n    \"name\":global.get('name'),\n    \"lat\":global.get('latitude'),\n    \"lon\":global.get('longitude')\n    \n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1320,"y":560,"wires":[["ca21a394.1c0c6"]]},{"id":"4ca8e745.adbea8","type":"ui_toast","z":"cb1a205a.eacab","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1630,"y":520,"wires":[[]]},{"id":"4f7a522f.8d1aec","type":"http request","z":"cb1a205a.eacab","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=raHQEiPelSYD78z54nLws2AxJB6vpjuO90CUFkdmKNfoMWIgbXoYLyM5mjzeJXKnOQb10NW7uV9iFSrD&route=q&message=The%20Cargo%20truck%20has%20reached%20the%20destination.&language=english&flash=0&numbers=8837887295","tls":"","persist":false,"proxy":"","authType":"","x":1630,"y":380,"wires":[["b22bd26f.2e96c"]]},{"id":"ca21a394.1c0c6","type":"debug","z":"cb1a205a.eacab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":560,"wires":[]},{"id":"b22bd26f.2e96c","type":"debug","z":"cb1a205a.eacab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1630,"y":300,"wires":[]},{"id":"608b4fc.ffe99b","type":"debug","z":"cb1a205a.eacab","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1590,"y":160,"wires":[]},{"id":"d7a612c7.32b67","type":"http in","z":"cb1a205a.eacab","name":"","url":"data","method":"get","upload":false,"swaggerDoc":"","x":180,"y":800,"wires":[["de7439c.a4524c8","17982d8d.562e72","5c36d8ac.6a33b8"]]},{"id":"17982d8d.562e72","type":"http response","z":"cb1a205a.eacab","name":"","statusCode":"","headers":{},"x":610,"y":800,"wires":[]},{"id":"de7439c.a4524c8","type":"debug","z":"cb1a205a.eacab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":860,"wires":[]},{"id":"a72b0974.85f508","type":"ui_button","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":3,"width":6,"height":1,"passthru":false,"label":"TEMP PLUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"TEMP PLUS\"}","payloadType":"json","topic":"topic","topicType":"msg","x":290,"y":500,"wires":[["95b16d44.3a0db","5c36d8ac.6a33b8"]]},{"id":"937da1aa.62a0d","type":"ui_button","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":6,"width":6,"height":1,"passthru":false,"label":"TEMP MINUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\" : \"TEMP MINUS\"}","payloadType":"json","topic":"topic","topicType":"msg","x":310,"y":560,"wires":[["95b16d44.3a0db","5c36d8ac.6a33b8"]]},{"id":"95b16d44.3a0db","type":"debug","z":"cb1a205a.eacab","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"7ae4c135.61a4d","type":"geofence","z":"cb1a205a.eacab","name":"","mode":"circle","inside":"both","rad":131.95681871973014,"points":[],"centre":{"latitude":28.62051454799331,"longitude":77.0508863031864},"floor":"","ceiling":"","worldmap":true,"outputs":2,"x":1100,"y":240,"wires":[["83aa1dbe.6fb53","8a16dd0c.08ef7"],[]]},{"id":"8a16dd0c.08ef7","type":"ui_worldmap","z":"cb1a205a.eacab","group":"3e017997.f85ce6","order":30,"width":"0","height":"0","name":"","lat":"28.620561","lon":"77.052143","zoom":"16","layer":"OSM","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","x":1400,"y":240,"wires":[]},{"id":"7d95611b.50759","type":"ui_chart","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":11,"width":6,"height":4,"label":"temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-20","ymax":"120","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":180,"wires":[[]]},{"id":"d1741e4e.1e3ee","type":"ui_chart","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":18,"width":6,"height":4,"label":"hum","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"120","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":220,"wires":[[]]},{"id":"c2cc32dc.976b6","type":"ui_chart","z":"cb1a205a.eacab","name":"","group":"3e017997.f85ce6","order":25,"width":6,"height":4,"label":"air","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"500","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":850,"y":260,"wires":[[]]},{"id":"97f1e279.10797","type":"ibmiot in","z":"cb1a205a.eacab","authentication":"apiKey","apiKey":"520d0ab9.f6af34","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"SETHKTS","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":60,"wires":[["e94be201.f1c6d","1752d0f6.b4df4f","fa1a4a36.89b1b8","f6090c54.8d1ca","4fdea888.4bf2f8","d65402a8.c56fc"]]},{"id":"5c36d8ac.6a33b8","type":"ibmiot out","z":"cb1a205a.eacab","authentication":"apiKey","apiKey":"520d0ab9.f6af34","outputType":"cmd","deviceId":"12345","deviceType":"SETHKTS","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":560,"wires":[]},{"id":"d65402a8.c56fc","type":"cloudant out","z":"cb1a205a.eacab","name":"","cloudant":"39720ec2.697652","database":"sensordata","service":"node-red-cpjzd-2021--cloudant-1625821217518-29811","payonly":false,"operation":"insert","x":270,"y":400,"wires":[]},{"id":"80d1a3cf.4f53d","type":"cloudant out","z":"cb1a205a.eacab","name":"","cloudant":"39720ec2.697652","database":"locationdata","service":"node-red-cpjzd-2021--cloudant-1625821217518-29811","payonly":false,"operation":"insert","x":1630,"y":460,"wires":[]},{"id":"3e017997.f85ce6","type":"ui_group","name":"CARGO","tab":"9b845193.4f16d","order":1,"disp":true,"width":"6","collapse":false},{"id":"520d0ab9.f6af34","type":"ibmiot","name":"IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"39720ec2.697652","type":"cloudant","host":"https://apikey-v2-155zv6kjc59uettz9vvj157jc3weyvmdkg6yx8k1ch3j:e87c37db01d75aac19b437daf576520d@8125b72c-1715-4198-98f0-3af002dc8e35-bluemix.cloudantnosqldb.appdomain.cloud","name":""},{"id":"9b845193.4f16d","type":"ui_tab","name":"PROJECT","icon":"dashboard","disabled":false,"hidden":false}]